@import url("/break/css/common/reset.css");
@import url("/break/css/common/fontawesome/css/all.css");
@import url("/break/css/global/nav-menu.css");
@import url("/break/css/global/footer.css");
@import url("/break/css/global/pop-up.css");
@import url("/break/css/global/lock.css");
@import url("/break/css/global/button.css");
@import url("/break/css/fonts/framdcn.css");
html{
    overflow-x: hidden;
}
body{
    font-family: FRAMDCN;
}

.header{
    width: 100%;
    height: auto;
    position: relative;   
    margin: 0;
    padding: 0;
    &_main{
        padding-left: 50px;
        font-size: 35px;
        align-self: center;
        color:white;
    }
}
.login{
    width: auto;
    justify-content: space-between;
    flex-direction: row;
    background-color: #3a4750;
    transition: .5s all;
    min-height: 50px;
    display: flex;
    z-index: 999;
    position: relative;
    display: none;

    &_success{
        position: relative;
        width: auto;
        min-width: 300px;
        height: auto;
        min-height: 60px;
        display: none;
        font-size: 14px;
        background-color: #fff;
        flex-direction: row;
        justify-content: flex-start;
        padding-right:2%;
        align-items: center;
        &:hover .login_buttonOut{
            left:90%;
        }

    }
    &_deny{
        padding: 50px 20px 20px 50px;
        width: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -190px;
        background-color: #fff;
        border-top: 40px solid #5cff5c;
        border-bottom: 40px solid #ffcd5c;
        border-radius: 220px 0px 220px 0px;
        display: none;
    }
    &_form{
        padding: 6px;
        margin-top:15px;
        margin-right: 5px;
        border: 1px solid #c9c9c9;
        border-left:8px solid transparent;
        border-right:8px solid transparent;
        border-radius: 5px;
        &:focus{
            border-left:8px solid #e0e0e0;
            border-right:8px solid #e0e0e0;
            outline:none;
        }
    }
    &_buttonIn{
        background-color: transparent;
        padding: 7px 12px;
        margin-top:15px;
        margin-right: 5px;
        border: 1px solid #c9c9c9;
        border-left:8px solid #e0e0e0;
        border-right:8px solid #e0e0e0;
        border-radius: 5px;
        &:hover{
            cursor: pointer;
            color:#F89E30;
        }
    }
    &_buttonOut{
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #e0e0e0;
        font-family: fontawesome;
        font-size: 20px;
        text-decoration: none;
        transition: 1s left;
        padding:20px 0px;
        width: 10%;
        height: 100%;
        left:100%;
        color:black;
        text-align: center;
        &:hover{
            color:#F89E30
        }
    }
    &_userName{    
        white-space: nowrap;
        font-weight: bolder;
        color:black;
        &:hover{
            color:#888888;
        }
    }
    &_avatar{
        width: 50px;
        margin-right: 30px;
    }
}
.wrapper{
    //    background: white;
    width: 80%;
    min-width: 1094px;
    height: auto;
    margin: auto;
    visibility: hidden;
    min-height: 100vh;
    margin-top:20px;

    &_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
}
.dev{
    &_pos{
        position:relative;
        background-color: rgba(134, 134, 134, 0.63);
    }
    &_wait{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        background-image: url(/break/image/wait.png);
        background-repeat: no-repeat;
        background-position: top;
        z-index: 1;
    }
    &_blur{
        filter: blur(2px);
    }
}
.br{
    margin: 30px auto;
    border-bottom: 1px solid black;
    width: 80%;
}
.break_down{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    margin: 5% 0%;
    height: 60%;
    &-item{
        display: inline-block;
        text-align: center;
        width: 75px;
        height: 50px;
        padding-top: 15px;
        background: #ffcf22;
        color: black;
        border-right: 15px solid green;
        border-radius: 0px 0px 60px 2px;
        &_sv{
            display: flex;
            justify-content: space-between;
            width: 200px;
            position: absolute;
            left: -115px;
            top: -50px;
            transition: all 0.2s ;
            padding:10px;
            font-weight: bold;
            z-index: 999;
            & span{
                font-weight: normal;
                width: 60px;
            }
            &:hover{
                left:0;
                justify-content: center;
            }
            &:hover span{
                font-size: 0;
                width: 0px;
            }

        }
    }
}

.top_right{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    margin: 5% 0%;
    height: 75%;
    right: 0;
    top: 0;

    &-item{
        display: inline-block;
        text-align: center;
        width: 200px;
        height: 50px;
        padding-top: 15px;
        background: #ffcf22;
        color: black;
        border-left: 15px solid green;
        border-radius: 0px 0px 2px 60px;
        &_opened{
            display: flex;
            flex-direction:column;
            width: 600px;
            position: absolute;
            top: 73px;
            left: -110px;
            transition: all 0.3s ;
            padding:10px;
            font-weight: bold;
            z-index: 999;
            & span{
                font-weight: normal;
                text-align: left;
            }
            &:hover{
                left: -600px;
                height: 550px;
            }
            &:hover span{
                font-size: 0;
                width: 0px;
                text-align: left;
            }
            &:hover .topchik_block{
                display: flex;
            }
        }
    }
}

.topchik_block{
    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;


    &-photo{
        display: block;
        width: 30%;
        & img{
            height: 70px;
        }
    }
    &-text{
        display: block;
        align-self: center;
        width: 70%;
        text-align: left;
    }
}