body{
    background-image: url(/break/image/bg-coffe.jpg);
    background-size: cover;
    background-position: center;
}
.break{
    width: 100%;
    &-interval_wrapper{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    &-interval_item{
        min-width: 40px;
    }
    &-list_wrapper_1st, .break-list_wrapper_cross, .break-list_wrapper_happy{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        text-align: center;
        background-color: #d1d1d1c4;
        padding: 6px 0px;
    }
    &-list{
        &_h2{
            border-bottom: 1px solid black;
            padding: 10px;
            margin-bottom: 5px;
        }

        &_item{
            padding: 10px;
            position: relative;
            &:hover .break-delete_people{
                color: #ff4f4f;            
            }
            background-color: #d8ff8c;
            border-radius: 10px;
            margin: 5px 0;
        }
    }
    &-order_button{
        min-width: 120px;
    }
    &-forecast{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        &_new{
            width: 75%;
            padding:3px;
        }
        &_button{
            padding:5px;
        }

    }
    &-delete_people{
        color: transparent;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
        padding:0 10px;
    }
    &-increase_forecast{
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            color: #56ff70;
            transform: translateY(-5px);
        }
    }
    &-reduce_forecast{
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            color: #ff5656;
            transform: translateY(5px);
        }
    }
    &-group{
        text-align: center;
        &_active{

        }
    }
    &-sv{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        &_btn{
            font-weight: bold;
            padding:10px;
            &-active{
                background: #97ff97;
            }
        }
    }
}
.message{
    padding:20px;
    display: flex;
    flex-direction: column;
    
    &_box{
        padding:20px;
    }
    &_btn{
//        padding:10px;
    }
}