.schedule_table {
  cursor: pointer;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  max-width: 500px;
  white-space: nowrap;
}

th.schedule_table_cell {
  font-size: 20px;
}

.schedule_table_head {
  background-color: #3a4750;
  color: #fff;
  pointer-events: none;
  font-weight: bold;
  th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.schedule_table_row {
  background-color: #fff;
}

.schedule_table_cell {
  padding: 10px 30px;
  font-family: DinProLight;
}

.schedule_table {
  tbody {
    tr {
      th {
        background-color: #3a4750 !important;
        color: #fff !important;
        position: -webkit-sticky;
        position: sticky;
        left: 0;
      }
      &:hover {
        background-color: #f2f2f2 !important;
      }
    }
    td:hover {
      background-color: #3a4750 !important;
      color: #fff;
    }
  }
  max-height: 70%;
}

.schedule_table_head {
  z-index: 6;
}
.schedule_table_head th:nth-child(2) {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

.wrapper_shadow {
  overflow-x: auto;
}

.button {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 20px;
  margin: 10px 20px;
  position: relative;
  color: #3a4750;
  border: none;
  border-bottom: 3px solid #1a73e8;
  background-color: #e7e7e7;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: DinProRegular;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  &:before {
    border-bottom: none;
    bottom: 0;
    left: 0;
    border-left: 3px solid #1a73e8;
    border-top: 3px solid #1a73e8;
    transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
  }
  &:after {
    top: 0;
    right: 0;
    border-right: 3px solid #1a73e8;
    transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
  }
  &:hover {
    &:before,
    &:after {
      height: 100%;
      width: 100%;
      opacity: 1;
    }
    &:before {
      transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
    }
    &:after {
      transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
    }
  }
}

.button_download {
  padding: 25px 40px;
  color: white;
  border: none;
  border-bottom: 3px solid white;
  background-color: red;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: DinProRegular;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  &:before {
    border-bottom: none;
    bottom: 0;
    left: 0;
    border-left: 3px solid white;
    border-top: 3px solid white;
    transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
  }
  &:after {
    top: 0;
    right: 0;
    border-right: 3px solid white;
    transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
  }
  &:hover {
    &:before,
    &:after {
      height: 100%;
      width: 100%;
      opacity: 1;
    }
    &:before {
      transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
    }
    &:after {
      transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
    }
  }
}

.filterShifts,
.calcWorkHours {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 20px;
  margin: 10px 0;
  margin-right: 40px;
  position: relative;
  color: #fff;
  border: none;
  border-bottom: 3px solid #1a73e8;
  background-color: #1a73e8;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: DinProRegular;
}

.filterShifts {
  min-width: 150px;
}

.calcWorkHours {
  min-width: 180px;
}

.filterShifts {
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
}

.calcWorkHours {
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
}

.filterShifts:before,
.calcWorkHours:before {
  bottom: 0;
  left: 0;
  border-left: 3px solid #1a73e8;
  border-top: 3px solid #1a73e8;
  transition: 0s ease opacity 0.1s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}

.filterShifts:after,
.calcWorkHours:after {
  top: 0;
  right: 0;
  border-right: 3px solid #1a73e8;
  transition: 0s ease opacity 0s, 0.2s ease width, 0.2s ease height 0.2s;
}

.filterShifts:hover {
  &:before,
  &:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}

.calcWorkHours:hover {
  &:before,
  &:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}

.filterShifts:hover:before,
.calcWorkHours:hover:before {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}

.filterShifts:hover:after,
.calcWorkHours:hover:after {
  transition: 0s ease opacity 0s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}

.filterShifts:hover,
.calcWorkHours:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
}

#mySearch {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 14pt;
  font-family: DinProLight;
  border: 3px solid #1a73e8;
  border-style: ridge;
  background-color: #e7e7e7;
  &::placeholder {
    font-style: italic;
  }
}

.glowingBorder {
  box-shadow: inset 0px 0px 10px rgba(252, 162, 44, 0.5);
}

.backgroundForMe {
  background-color: #fca22c !important;
}

.borderBorder {
  border: 1px solid rgba(252, 162, 44, 0.5);
}
