button {
  min-height: 30px;
  min-width: 75px;
  font-weight: bold;
}

.btn_s, .btn_d, .btn_n {
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.delete-btn, .edit-btn {
  width: 16px;
  height: 18px;
  min-height: 0;
  min-width: 0;
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  top: 5px;
}

.btn_s {
  background-color: #21AF5D;
}

.btn_d {
  background-color: #C24135;
}

.btn_n {
  background-color: #1aa0fa;
  padding: 10px;
  transition: 0.5s all;
  border: none;
}

.btn_n:hover {
  transform: scale(1.1);
}

.delete-btn {
  right: -18px;
}

.delete-btn:hover {
  color: red;
  cursor: pointer;
}

.edit-btn {
  left: -17px;
}

.edit-btn:hover {
  color: #0027ff;
  cursor: pointer;
}
