.pop-up {
  position: fixed;
  left: 50%;
  top: 25%;
  display: none;
  background: #ffffff;
  box-shadow: 2px 2px 10px black;
  padding: 25px;
  border-radius: 100px 0px 100px 0px;
  border-left: 20px solid green;
  border-right: 20px solid orange;
  z-index: 999;
  padding-right: 0;
  margin-left: -200px;
}
